/* TIPO */
body {
  margin: 50px;
  background-color: rgb(132, 180, 248);
}

h1 {
  text-align: center;
  color: rgb(3, 41, 93);
}

/* Classe */
.foco-principal {
  border: 1px solid;
  padding: 50px;
  margin-top: 10px;
  color: rgb(3, 41, 93);
  font-weight: 100;
}

/* ID - Identificador */
#link-produto {
  color: green;
}